<h1 [class]="taskContainer.color" class="text-black dark:text-black animate-jump-in w-full rounded-full py-1 flex
        justify-center font-bold relative z-10">
    {{taskContainer.title}}
</h1>
<app-task class="hover:bg-gray-50
    dark:hover:bg-gray-950 animate-slide-in-blurred-top transition ease-in-out duration-150 border-2 border-black
    dark:border-white rounded-md w-full py-1 px-2 my-2 flex justify-between items-center group"
    *ngFor="let task of tasks" [task]="task">
</app-task>
<!-- {addingMode && ( -->
<form onSubmit='' class="border-2 border-black dark:border-white rounded-md w-full py-1 px-2 my-2">
    <input value='' onChange='' name='input' placeholder="Enter new task"
        class="focus-visible:outline-none w-full bg-transparent" />
</form>
<!-- )} -->
<button class="animate-flip-up animate-delay-300 px-2 opacity-25 hover:opacity-100 transition ease-in-out duration-150"
    onClick=''>
    + add task
</button>